<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>White Indie bands</h1>
    <p>When media reflects stereotypes, it reinforces them: it is on every writer to have an open mind, to write about music and people who challenge them, and to recognize that means less room for letting white mediocrity slide. Covering another white rock album or another black hip-hop album is an act of boundary-keeping: one by one, these decisions, like many in arts writing, are subjective. But in aggregate, like the Silicon Valley start-ups that can’t understand how they’ve hired so many white men, the bias is the decision. </p>
    <p><%= link_to "Sign Up To Write a Review", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
<% end %>

<div class="row">
  <% @albums.each do |album |%>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag album.image.url(:medium), class: 'image'), album %>
      </div>
    </div>
  <% end %>
</div>

