<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <h1>My First Real RoR app - Music Review</h1>
    <p>Relying heavily on RoR guides, google search, Stack Overflow and wise men of RoR, this is my first web app, where you can Sign In & Out, write a review for an album, upload pictures and add ratings. There are some of them already.</p>
    <p><%= link_to "Sign Up To Write a Review", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
<% end %>

<div class="row">
  <% @albums.each do |album |%>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag album.image.url(:medium), class: 'image'), album %>
      </div>
    </div>
  <% end %>
</div>

