<div class="row">
  <% @albums.each do |album |%>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag album.image.url(:medium), class: 'image'), album %>
      </div>
    </div>
  <% end %>
</div>